@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@font-face {
  font-family: Poltawski-bold-italic;
  src: url("/fonts/otf/UNCAGE-Bold.otf") format("opentype");
}
@font-face {
  font-family: Poltawski-bold;
  src: url("/fonts/otf/UNCAGE-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: Absans-Regular;
  src: url("/fonts/otf/Absans-Regular.otf") format("opentype");
}
.fjalla-one-regular {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.Poltawski-bold-italic {
  font-family: Poltawski-bold-italic;
}
.Poltawski-bold {
  font-family: Poltawski-bold;
}
.Absans-Regular {
  font-family: Absans-Regular;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.relative .carousel-indicators {
  bottom: 30px;
  z-index: 2;
}
.carousel-item {
  transition: transform 3s ease-in-out !important;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --company-blue: #0088cc;
}
body,
html {
  width: 100%;
  height: 100vh;
}

.blog-post-shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}
.truncate-3-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
@keyframes zoom {
  0% {
    object-fit: ;
  }
}
.transform {
  transition: transform 1s ease;
}
.logo-blue-color {
  background: var(--company-blue);
}

.sidebar-contact {
  top: 50%;
  transform: translateY(-50%);
}
.sidebar-contact-shadow {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.search-bar:active {
  position: relative;
  width: 100%;
  top: 2px;
}
.search-bar:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.btn-pricing:active {
  position: relative;
  top: 2px;
}
#company-info:nth-child(1) {
  background: #000000;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
#company-info:nth-child(2) {
  background: #111111;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
#company-info:nth-child(3) {
  background: #333333;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}
